ul {
  list-style-type: none;
  padding-left: 0;
}

.modified {
  color: red;
  font-weight: bold;
}

.added {
  color: green;
  font-weight: bold;
}

.deleted {
  text-decoration: line-through;
  opacity: 0.5;
}

.toggle-button {
  cursor: pointer;
  margin-right: 5px;
  outline: 0.5px solid black;
  padding-left: 2px;
  padding-right: 2px;
}

ul ul {
  margin-left: 20px;
}

#upload-status {
  margin-top: 10px;
  font-weight: bold;
}

.success {
  color: green;
}

.error {
  color: red;
}

#progress-bar {
  width: 300px;
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 4px;
  margin: 10px 0;
}

#progress-bar .progress {
  height: 100%;
  background-color: #4caf50;
  border-radius: 4px;
  transition: width 0.3s ease-in-out;
}

#progress-bar .text {
  font-size: 14px;
  color: #000;
  text-align: center;
  line-height: 20px;
}